<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256778662315-tbcrp73f17ordik5gufm7ps79s0uiti9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256778662315-tbcrp73f17ordik5gufm7ps79s0uiti9</string>
	<key>API_KEY</key>
	<string>AIzaSyAQKw-I4-1pX_HMMC8sxKOS4pDgSJueETs</string>
	<key>GCM_SENDER_ID</key>
	<string>256778662315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onmyojiWiki</string>
	<key>PROJECT_ID</key>
	<string>onmyoji-wiki</string>
	<key>STORAGE_BUCKET</key>
	<string>onmyoji-wiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256778662315:ios:e6e488c53be4e960aae2ee</string>
</dict>
</plist>